<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIR Directory: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="/fbw/style-fbw.css" rel="stylesheet">
  </head>
  <body>


    <div id="main">

        <div class="container" v-for="(person, index) in people" v-if="person.thumbnail">

          <div class="profile-container">

            <div :id="'profile_cover_' + index"
                 class="profile profile-cover"
                 :class="{ mirror: person.mirror, cover: person.cover, center: person.center }">

              <div class="profile__headshot-bg" :style="'background-image: url(' + person.Headshot[0].url + ')'"></div>
              <div class="profile__headshot" :style="'background-image: url(' + person.Headshot[0].url + ')'"></div>

              <div class="profile__info">
                <img src="/fbw/fbw-logo.png">
                <p class="title">{{ person.name }}</p>
                <p class="subtitle">
                  Superpower: {{ person.Superpower }}
                </p>
              </div>

            </div>

            <div class="profile__meta">

              <div class="profile__adjust">
                <strong>Adjust:</strong>
                <label :for="'mirror_' + index"> <input :id="'mirror_' + index" type="checkbox" v-model="person.mirror"> Mirror</label>
                <label :for="'cover_' + index"> <input :id="'cover_' + index" type="checkbox" v-model="person.cover"> Cover</label>
                <label :for="'center_' + index"> <input :id="'center_' + index" type="checkbox" v-model="person.center"> Center</label>
              </div>

              <strong>Insta: </strong> <input type="text" readonly :value="person.insta"> <br>
              <strong>Insta Copy</strong> <br>

              <textarea class="textarea" name="name" rows="14" cols="80">Speaker Spotlight: {{ person.name }}{{ person.insta ? ' ' + person.insta : '' }}. The topic of {{ person['First Name'] }}’s presentation is "{{ person['Session Title'] }}". {{ person['First Name'] }} is speaking on {{ person.start }}. You can add them talk to your schedule through the Sched app at the link in our bio!</textarea>
              <br>
              <a class="button is-primary" href="#" @click.prevent="savePNG( 'profile_cover_' + index )">Generate PNG</a>
              <small>Rendered images appear below:</small>
              <div :id="'profile_cover_' + index + '_images'" class="rendered_images">
              </div>
            </div>

          </div>

        </div>

    </div>


    <script src="../dom-to-image.min.js" charset="utf-8"></script>
    <script src="/fbw/script-fbw.js" charset="utf-8"></script>
  </body>
</html>
