<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIR Directory: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="style-fbw.css" rel="stylesheet">
  </head>
  <body>


      <div id="main">

        <div class="person" v-for="person in people">
          {{ person.name }}
          <template v-if="person.thumbnail">
            <img :src="person.thumbnail.small.url" :alt="'photo of ' + person.name">
          </template>
        </div>

      </div>


    <script src="dom-to-image.min.js" charset="utf-8"></script>
    <script src="script-airtables.js" charset="utf-8"></script>
  </body>
</html>
