<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directory: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="style-fbw-old.css" rel="stylesheet">
  </head>
  <body>


      <div id="main">

          <div class="container" v-for="(person, index) in people" v-if="person.working && person.help && person.need">

            <div class="profile-container">

              <div :id="'profile_cover_' + index" class="profile profile-cover">

                <div class="profile__label">
                  Speaker Spotlight
                </div>

                <div class="profile__headshot">
                  <img :src="person.headshot" alt="">
                </div>

                <div class="profile__info">
                  <p class="title">{{ person.name }}</p>
                  <p class="subtitle">
                    Cosmic Task
                  </p>
                  <p>{{ person.cosmic }}</p>
                </div>

              </div>

              <div class="profile__meta">

                <div class="profile__color">
                  <strong>Background:</strong>
                  <span class="profile__color-block" v-for="color in bgColors" :style="{backgroundColor: color}" @click="setColor('profile_' + index, color)"></span>
                </div>

                <strong>Insta Copy</strong> <br>

                <textarea class="textarea" name="name" rows="14" cols="80">Freelance Feature: Today we look at {{ person.name }} {{ getInstagram( person.links.instagram ) }}

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .
  .
  .
  #denverFreelance #BetterTogether #denverFreelancing #freelanceFeature</textarea>
                <br>
                <a class="button is-primary" href="#" @click.prevent="savePNG( 'profile_cover_' + index )">Generate PNG</a>
                <small>Rendered images appear below:</small>
                <div :id="'profile_cover_' + index + '_images'" class="rendered_images">
                </div>
              </div>

            </div>

            <div class="profile-container">

              <div :id="'profile_inside_' + index" class="profile profile-inside">

                <div class="profile__label">
                  <span class="hash">#FBWDEN</span>
                  <span class="title">Spotlight</span>
                </div>

                <div class="profile__content">
                  <p v-if="person.working"><label>Working on:</label> <span class="content">{{ person.working }}</span></p>
                  <p v-if="person.help"><label>Can Help With:</label> <span class="content">{{ person.help }}</span></p>
                  <p v-if="person.need"><label>Needs Help With:</label> <span class="content">{{ person.need }}</span></p>
                </div>

                <div class="profile__headshot" :style="'background-image: url(' + person.headshot + ')'">
                </div>

                <div class="profile__circle">
                  <p class="title">{{ person.name }}</p>
                  <p class="is-bold" v-if="person.primarySite()">{{ person.primarySite().url.replace(/^(\/\/)?(www\.)?/gm, "") }}</p>
                  <ul class="profile__skills">
                    <li v-for="skill in person.skills.slice(0,5)">{{ skill.label }}</li>
                  </ul>
                </div>

                <div class="flair">
                  <div class="white long"></div>
                  <div class="white long"></div>
                  <div class="short"></div>
                  <div class="short"></div>
                  <div></div>
                  <div></div>
                </div>

              </div>

              <div class="profile__meta">

                <a class="button is-primary" href="#" @click.prevent="savePNG( 'profile_inside_' + index, { width: 1080, height: 1350 } )">Generate PNG</a>
                <small>Rendered images appear below:</small>
                <div :id="'profile_inside_' + index + '_images'" class="rendered_images">
                </div>
              </div>

            </div>


            <hr>
          </div>

      </div>
    <script src="dom-to-image.min.js" charset="utf-8"></script>
    <script src="script-directory.js" charset="utf-8"></script>
  </body>
</html>
