/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i&display=swap');

.directory {
}

.profile {
  background-color: #FFCA00;
}

.profile.text-dark,
.profile.text-dark .profile__link {
  color: #161616;
}

.profile.text-dark .profile__footer {
  background-color: #fffa;
}

.profile.text-light,
.profile.text-light .profile__link,
.profile.text-light .label,
.profile.text-light .title,
.profile.text-light .subtitle {
  color: #fcfcfc;
}

.profile.text-light .profile__footer {
  background-color: #000a;
}

.profile strong {
  color: inherit;
}

.profile__location {
  color: #888;
  background-color: #fffC;
}

.profile {
  box-sizing: border-box;
  border: 1px solid #000;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% calc( 50% - 2em) 2em;
  position: relative;
  width: 640px;
  height: 640px;
  /* margin: 10px; */
}

.profile__headshot {
    border-right: 1px solid #000;
    background-size: cover;
}
.profile__info {
    padding: 10px;
}
.profile__content {
  grid-column: span 2;
  border-top: 1px solid #000;
  padding: 10px;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__footer {
  font-family: 'EB Garamond', serif;
  grid-column: span 2;
  border-top: 1px solid #000;
  line-height: 2em;
  background-color: #fffa;
  font-style: oblique;
  text-align: right;
  padding: 0 10px;
}

.profile .title {
  text-transform:capitalize;
}

.profile .subtitle:first-letter {
  text-transform:capitalize;
}

.profile__location {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile__location label { display: none; }

.connect {
  padding-bottom: .75rem;
}

.profile label {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.profile__link {
  display: block;
}
.profile__link .label {
  display: inline-block;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
}

.profile__color-block {
  width: 2ch;
  height: 2ch;
  display: inline-block;
}

.rendered_images {
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}
